    body {
      margin: 0;
      font-family: "SF Pro Display", Arial, Helvetica, sans-serif;
      background-color: #f5f5f7;
      color: #1d1d1f;
      text-align: center;
      animation: fadeIn 1s ease-in;
    }


    section {
      max-width: 900px;
      margin: 50px auto;
      background-color: white;
      padding: 40px 30px;
      border-radius: 25px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      text-align: left;
      animation: fadeIn 1s ease-in;
    }

    h2 {
      color: #1d1d1f;
      margin-bottom: 20px;
      text-align: center;
    }

    p {
      color: #555;
      font-size: 18px;
      line-height: 1.6;
      margin-bottom: 20px;
    }


    .galeria {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-top: 30px;
    }

    .galeria img {
      width: 550px;
      height: auto;
      border-radius: 20px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.15);
      transition: transform 0.4s ease;
    }

    .galeria img:hover {
      transform: scale(1.05);
    }

    .voltar {
      display: inline-block;
      margin-top: 30px;
      text-decoration: none;
      color: #007aff;
      font-weight: bold;
      transition: color 0.3s;
      text-align: center;
      width: 100%;
    }

    .voltar:hover {
      color: #003d80;
    }