html {
  scroll-behavior: smooth;
}

/* ====== CONFIGURAÇÕES GERAIS ====== */
:root {
    --ciano:#2cc2c7;
    --roxo:#14161b;
    --roxo2:#030b36;
    --branco:#ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(140deg, var(--roxo), var(--roxo2), var(--roxo));
    background-size: 300% 300%;
    animation: gradientWave 7s ease-in infinite;
    color: var(--branco);
}



/* ===== HEADER E LOGO ===== */
.header {
    width:95%;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
}

.logo {
    height: 55px;
    width: auto;
    filter: drop-shadow(0 0 6px rgba(0,255,255,0.4));
}

/* ===== NAVBAR ===== */
.navbar {
    display: flex;
    gap: 45px;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px 35px;
    border-radius: 40px;
    backdrop-filter: blur(6px);
    border:1px solid rgba(0,255, 255, 0.3);
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.15);
    margin: 0 auto;
}

.navbar a {
    text-decoration: none;
    color:var(--branco);
    font-size: 17px;
    letter-spacing: 1px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.navbar a:hover {
    color:var(--ciano);
    text-shadow: 0 0 12px var(--ciano);
}

/* ===== HERO ===== */
.hero{
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 95px;
    font-weight: 800;
    letter-spacing: 6px;
    color: var(--ciano);
    text-shadow: 0 0 18px var(--ciano), 0 0 40px rgba(0, 255, 255, 0.3);
}

.subtitle {
    margin-top: 12px;
    font-size: 24px;
    opacity: 0.85;
}

.btn {
    margin-top: 35px;
    padding: 14px 40px;
    border-radius: 40px;
    border: 2px solid var(--ciano);
    background: transparent;
    color: var(--ciano);
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover{
    background: var(--ciano);
    color: var(--roxo);
    box-shadow: 0 0 18px var(--ciano);
}

/* ===== ANIMAÇÃO DE FUNDO EM ONDA SUAVE ===== */
@keyframes gradientWave {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 60%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 40%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* ===== SEÇÃO MEMBROS ===== */
.membros-section {
    padding: 120px 80px;
    text-align: center;
}

.membros-title {
    font-size: 48px;
    color: var(--ciano);
    text-shadow: 0 0 14px var(--ciano);
    margin-bottom: 18px;
}

.membros-subtitle {
    font-size: 12px;
    opacity: 0.85;
    max-width: 800px;
    margin: 0 auto;
}

